@import url('normalize.css');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
  vertical-align: top;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
button {
  max-width: max-content;
  border:none;
  background-color: transparent;
  cursor: pointer;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-light: #fff;
  --color-gray: #858585;
  --color-linear: linear-gradient(
    184.5deg,
    rgb(253, 116, 155) 4.426%,
    rgb(40, 26, 200) 127.873%
  );
}
